NEXT_PUBLIC_SITE_URL=http://66.42.126.85
NEXT_PUBLIC_SPACETIME_ENABLED=false
NEXT_PUBLIC_SPACETIME_API_URL=http://localhost:8000
NEXT_PUBLIC_ARMORIQ_ENABLED=false
NEXT_PUBLIC_ARMORIQ_API_URL=http://localhost:8001
SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_NETWORK=devnet
