# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
frontend/node_modules/
solana/node_modules/

# builds
.next/
frontend/.next/
frontend/out/
build/
dist/
solana/dist/
coverage/

# env files
.env*
frontend/.env*
solana/.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
*.tsbuildinfo

# platform
.vercel
